
   <div class="bg">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="table-heading">
                                Edit Company Sales Target
                            </h2>

                        </div>

                    </div>

                </div>
<%= render "form", company_sales_target: @company_sales_target %>


