

    <style>
      h1 {
        font-size: 90px;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
      }
      p{
        font-size: 20px;
    /* font-weight: bold; */
    padding-top: 20px;
    padding-bottom: 40px;
      }
      .bg-shadow{
        box-shadow: 15px 0 30px 0 rgb(0 0 0 / 18%);
        padding:50px;
        text-align: center;
      }
      .fa-check{
        font-size: 200px;
    color: green;
      }
      .view-invoice-btn{
        background-color: #218bcc;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 12px 20px;
    font-family: sans-serif;
    margin-top: 20px;
      }
    </style>
</head>
<body>
<section class="thank">
<div class="container">
  <div class="bg-shadow">
  <i class="fa-solid fa-check"></i>
    <h1>
    Thank you!
  </h1>
  <p>Thanks for being awesome, we hope you enjoy you purchase!</p>

  <a href="" class="view-invoice-btn">View Invoice</a>
</div>
  </div>

</section>
