         <div class="bg">
                <div class="row">
                    <div class="col-7">
                        <h2 class="table-heading">
                            Edit User
                        </h2>

                    </div>

                </div>

            </div>

<%= render 'form', user: @user %>