<h3>Name: <%= @user_sales_target.user.name %></h3>
<h3>Your target: <%= humanized_money_with_symbol(@user_sales_target.target) %></h3>
<h3>Company: <%= @user_sales_target.company.name %></h3>






