
            <div class="bg-view">
                <div class="row ">
                    <div class="col-12">
                        <h2 class="table-heading">
                            Company View
                        </h2>
                    </div>
                </div>

                        <div class="row ">
                            <div class="col-12">
                    <div class="card">

                                <h1 class="applicant">
                                    Company  Detail

                                    <p>This view Show Company Detail</p>
                                </h1>
                                <div class="border"></div>
                        <div class="row ">
                            <div class="col-4">
                                <div class="main-div">
                                    <h1 class="main-heading">
                                        <li>Name</li>
                                        <li>Email</li>
                                        <li>Logo</li>
                                       
                                      <li>About</li>

                                        <!-- <li class="attachment">Atachments</li> -->
                                    </h1>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="div-2nd">
                                    <h1 class="heading-2nd">
                                        <li><%= @company.name %></li>
                                        <li><%= @company.email %></li>
                                         <% if @company.logo.attached? %>
                                        <li><%= image_tag @company.logo %></li>
                                            <% else %>
                                                <li>This Company no attached Logo</li>
                                            <% end %>
                                                          
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates voluptas
                                        praesentium esse! Voluptatibus voluptates magnam fuga officiis illo temporibus
                                        cum!
                                    </p>
                                    <!-- <div class="resume mr-top">
                                        <div class="border">
                                            <div class="btn-content">
                                            resume-back-end-developer.pdf <a href="#" class="btn">Download</a>
                                            </div>
                                        </div>
                                        <div class="border">
                                            <div class="btn-content">
                                            coverletter-back-end-developer.pdf <a href="#" class="btn">Download</a>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>





        </div>
 
 
 