
            <div class="bg-view">
                <div class="row ">
                    <div class="col-12">
                        <h2 class="table-heading">
                            User Sale Target
                        </h2>
                    </div>
                </div>

                        <div class="row ">
                            <div class="col-12">
                    <div class="card">

                                <h1 class="applicant">
                                    User Sale Target Detail

                                    <p>This view Show User Sale Target Detail</p>
                                </h1>
                                <div class="border"></div>
                        <div class="row ">
                            <div class="col-4">
                                <div class="main-div">
                                    <h1 class="main-heading">
                                        <li>User</li>
                                        <li>Target</li>                                       
                                      <li>About</li>

                                        <!-- <li class="attachment">Atachments</li> -->
                                    </h1>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="div-2nd">
                                    <h1 class="heading-2nd">
                                        <li><%= @user_sales_target.user.name %></li>
                                        <li><%= humanized_money_with_symbol(@user_sales_target.target) %></li>
                                       
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates voluptas
                                        praesentium esse! Voluptatibus voluptates magnam fuga officiis illo temporibus
                                        cum!
                                    </p>
                                    <!-- <div class="resume mr-top">
                                        <div class="border">
                                            <div class="btn-content">
                                            resume-back-end-developer.pdf <a href="#" class="btn">Download</a>
                                            </div>
                                        </div>
                                        <div class="border">
                                            <div class="btn-content">
                                            coverletter-back-end-developer.pdf <a href="#" class="btn">Download</a>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>





        </div>
 
 
 