
       
                 <div class="row mt-5">
                 <div class="col-7"> 

                                    <div class="email-templetes d-flex ">
                                        <div class="col-3">
                                            <div class="templete-logo">
                                        <%= image_tag "stripe-logo.png" %>

                                            </div>

                                        </div>
                                        <div class="col-7">
                                            <p>
                                                    Stripe is a simple and secure way to accept credit card payments online.
                                                    You can sign up for an account in minutes and begin accepting payments
                                                    immediately.
                                            </p>
                                            
                                            <a href="<%= @data_stripe_account.url %>">Connect to stripe</a>
                                        </div>
</div>

                                </div>
                                </div>

                                
       
                 <div class="row mt-5">
                 <div class="col-7"> 

                                    <div class="email-templetes d-flex ">
                                        <div class="col-3">
                                            <div class="templete-logo">
                                        <%= image_tag "paypal-logo.png" %>

                                            </div>

                                        </div>
                                        <div class="col-7">
                                            <p>
                                                    Stripe is a simple and secure way to accept credit card payments online.
                                                    You can sign up for an account in minutes and begin accepting payments
                                                    immediately.
                                            </p>
                                            
                                           <a target="_blank"  href="<%= @data %>&displayMode=minibrowser" data-paypal-button="true">Sign up for PayPal</a>
                                        </div>
</div>

                                </div>
                                </div>


